@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    background-color: #1a1a1a;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

div.container {
    background-color: #333333;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
}

button {
    background-color: #333333;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555555;
}

button:active {
    background-color: #777777;
}

a {
    color: #00aaff
}

input[type="text"] {
    background-color: #494949;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

input:disabled {
    background-color: #c00;
    cursor: not-allowed;
}

textarea:disabled {
    background-color: #c00;
    cursor: not-allowed;
}

select {
    background-color: #494949;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

textarea {
    background-color: #494949;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
